* {
    box-sizing: border-box;
}




/* =========================
   CONFIGURAÇÃO GERAL
========================= */


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #FAF9F6;
    background-image: url("imagens/marcadagua.png");
    background-repeat: repeat;
}


.formulario-body {
    height: 100vh;
    display: flex;
    align-items: center;
}




/* =========================
   LOGIN / REDEFINIR SENHA
========================= */


.caixa-login {
    background-color: #FFFFFF;
    width: 450px;
    height: 550px;
    position: absolute;
    top: 20%;
    left: 15%;
    border-radius: 20px;
    box-shadow: 3px 6px 6px 0px rgba(0, 0, 0, 0.2);
    padding: 25px;
    z-index: 1;
}


.caixa-login h1 {
    text-align: center;
    margin-bottom: 35px;
}


.campo p {
    display: block;
    margin-bottom: 8px;
}


.campo input {
    width: 95%;
    height: 37px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    outline: none;
    background-color: #faf9f5;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
}


.lembrar {
    margin-top: 20px;
}


.entrar {
    display: block;
    width: 95%;
    height: 45px;
    border: none;
    border-radius: 30px;
    background-color: #85BBEA;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    line-height: 45px;
    color: #FFFFFF;
    transition: 0.2s;
    user-select: none;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    margin-top: 100px;
}


.entrar:active {
    transform: translateX(3px);
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
}


.caixa-login-a {
    display: block;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    color: #333;
    text-decoration: underline;
}


.caixa-login-a:active {
    color: #536680;
}




/* =========================
   REDEFINIR SENHA
========================= */


.nova-senha {
    margin-bottom: 35px;
}


.nova-senha input {
    width: 95%;
    height: 37px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    outline: none;
    background-color: #faf9f5;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
}


.confirmar-senha {
    margin-bottom: 80px;
}


.confirmar-senha input {
    width: 95%;
    height: 37px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    outline: none;
    background-color: #faf9f5;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
}


.finalizar {
    display: block;
    width: 95%;
    height: 45px;
    border: none;
    border-radius: 30px;
    background-color: #85BBEA;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    line-height: 45px;
    color: #FFFFFF;
    transition: 0.2s;
    user-select: none;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    margin-bottom: 10px;
}


.finalizar:active {
    transform: translateX(3px);
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
}




  /* =================
     Cadastro
  ================== */
 
    .linha-cadastro{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 4px;
    }








    .caixa-cadastro{
    background-color: #FFFFFF;
    top: 10%;
    width: 800px;
    height: auto;
    position: absolute;
    left: 10%;
    border-radius: 20px;
    box-shadow: 3px 6px 6px 0px rgba(0, 0, 0, 0.2);
    padding: 25px;
    z-index:1;
    }








    .campo-cadastro p{
      margin-bottom: 1px;
    }








    .campo-cadastro input, .campo-cadastro select{
    width: 100%;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    margin:0px;
    border:none;
    outline:none;
    background-color:#faf9f5;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 200px;
    }












/* =========================
   PARTE DIREITA - LOGIN
========================= */


.fundologo {
    width: 35vw;
    height: 100vh;
    background:
        linear-gradient(
            to left,
            transparent 85%,
            #f8faf6 100%
        ),
        url("https://uploads.onecompiler.io/44nnydek6/1788519616760/background_ICON.png");
    background-size: cover;
    background-position: center;
    transform: translate(0px, 0px) scale(1.8, 1.8) skew(-9deg, 0deg);
    position: fixed;
    top: 0px;
    right: 0px;
    opacity: 0.95;
}


.direita {
    position: fixed;
    top: 0;
    right: 10%;
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 0px;
    transform: translateY(-5%);
}


.saudacao {
    margin-bottom: 0px;
}


.ICON {
    font-size: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
}


.instituto {
    margin-bottom: 0px;
}


.logo {
    width: 770px;
    height: 455px;
    position: relative;
    margin-bottom: 0px;
}


.descrição {
    margin-bottom: 0px;
}




/* =========================
   INDEX
========================= */


.index-body {
    background: #f7f7f5;
    color: #30343b;
    overflow-x: hidden;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("imagens/marcadagua.png");
    background-repeat: repeat;
}




/* =========================
   HEADER INDEX
========================= */


.header {
    z-index: 999999999;
    width: 100%;
    top: 0px;
    position: fixed;
}


.subheader {
    height: 90px;
    padding: 3px;
    display: flex;
    align-items: center;
    background-image:
        linear-gradient(rgba(34, 142, 162, 0.3), rgba(34, 142, 162, 0.3)),
        url("https://uploads.onecompiler.io/44nnydek6/1788519616760/background_ICON.png");
    background-size: cover;
    background-position: center;
}


.logotexto {
    height: 80px;
    margin-left: 20px;
}


.textologo {
    height: 150px;
    margin-left: 10px;
    margin-top: 15px;
}


.fzrlog {
    margin-left: auto;
    margin-right: 30px;
    font-size: 20px;
}


.fzrlog a {
    color:rgb(40, 41, 43);
    text-decoration: none;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}


.fzrlog a:hover {
    color: rgb(47, 84, 133);
    border-bottom: 2px solid rgb(47, 84, 133);
}


.fzrlog a:active {
    color: rgb(83, 155, 248);
    border-bottom: 2px solid rgb(83, 155, 248);
}




/* =========================
   MENU INDEX
========================= */


.menu_de_navegacao {
    background-image:
        linear-gradient(rgba(72, 209, 233, 0.2), rgba(72, 209, 233, 0.2)),
        url("https://uploads.onecompiler.io/44nnydek6/1788519616760/background_ICON.png");
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}


.menu_de_navegacao a {
    color: rgb(40, 41, 43);
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}


.menu_de_navegacao a:hover {
    color: rgb(47, 84, 133);
    border-bottom: 2px solid rgb(47, 84, 133);
}


.menu_de_navegacao a:active {
    color: rgb(83, 155, 248);
    border-bottom: 2px solid rgb(83, 155, 248);
}




/* =========================
   TEXTO INDEX
========================= */


.textodireita {
    padding: 0px;
    text-align: left;
    margin: 0px 20px 20px 0px;
    padding-top: 300px;
}


.texto {
    font-size: 40px;
    color: rgb(46, 45, 45);
    text-align: left;
    padding: 5px;
    font-weight: bold;
}


.textogradiente {
    font-size: 60px;
    color: rgb(46, 45, 45);
    text-align: left;
    padding: 5px;
    background-image: linear-gradient(to right, #5de0e6, #004aad);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: bold;
}


.imagem {
    margin-left: 0px;
}


.imagematendimento {
    width: 825px;
    height: 650px;
    right: 0px;
    position: absolute;
    top: 150px;
    opacity: 0.8;
    z-index: -4;
}




/* =========================
   FLASHCARDS
========================= */


.flashcards {
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}


.flashcard {
    width: 300px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(150px);
}


.imagensflashcards {
    width: 70px;
    height: 60px;
    object-fit: contain;
    transform: translateX(-15px);
}




/* =========================
   RODAPÉ
========================= */


.rodape {
    background-color: rgba(34, 142, 162, 0.8);
    position: absolute;
    top: 900px;
    width: 100%;
}


.rodape1 {
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.rodape2 {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.rodape2 a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    font-weight: 300;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}


.rodape2 a:hover {
    color: white;
    border-bottom: 2px solid;
}


.rodape2 a:active {
    color: rgb(172, 168, 168);
    border-bottom: 2px solid rgb(172, 168, 168);
}


.FAQ {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    align-items: flex-start;
}


.iconlogo {
    display: block;
    width: 33.33%;
    text-align: center;
    object-fit: contain;
    margin-bottom: 0px;
}


.logorodape.texto {
    width: 60%;
    height: auto;
}


.logorodape.logobranca {
    width: 50%;
    height: auto;
    transform: translateY(-50px);
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 1000px;
}


.socialmedia {
    width: 33.33%;
    font-weight: bold;
    color: white;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    align-items: flex-start;
}


.linha-rodape {
    width: 85%;
    border: none;
    border-top: 3px solid white;
}


.rodape3 {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.rodape3 a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    font-weight: 300;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}


.rodape3 a:hover {
    color: white;
    border-bottom: 2px solid;
}


.rodape3 a:active {
    color: rgb(172, 168, 168);
    border-bottom: 2px solid rgb(172, 168, 168);
}




/* =========================
   PÁGINAS ADMIN / CLIENTE / MÉDICO
========================= */


.subheader-admin {
    background-color: rgba(3, 19, 229, 0.5);
}


.subheader-cliente {
    background-color: rgba(6, 210, 160, 0.5);
}


.subheader-medico {
    background-color: rgba(0, 145, 255, 0.5);
}
/* =========================
   INTRANET
========================= */


.header-intranet {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}




/* =========================
   SUBHEADER
========================= */


.subheader-intranet {
    height: 90px;
    padding: 3px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}


.subheader-intranet.cliente {
    background-color: rgba(6, 210, 160, 0.5);
}


.subheader-intranet.profissional {
    background-color: rgba(0, 145, 255, 0.5);
}


.subheader-intranet.admin {
    background-color: rgba(3, 19, 229, 0.5);
}




/* =========================
   LOGO
========================= */


.logotexto-intranet {
    height: 80px;
    margin-left: 20px;
}




/* =========================
   PERFIL
========================= */


.perfil-intranet {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: 20px;
    margin-right: 20px;
}


.perfil-intranet img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}




/* =========================
   MENU
========================= */


.menu-intranet {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}


.menu-intranet.cliente {
    background-color: #06D2A0;
}


.menu-intranet.profissional {
    background-color: #0091FF;
}


.menu-intranet.admin {
    background-color: #0313E5;
}


.menu-intranet a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}


.menu-intranet a:hover {
    color: rgb(240, 238, 238);
    border-bottom: 2px solid rgb(240, 238, 238);
}


.menu-intranet a:active {
    color: rgb(172, 168, 168);
    border-bottom: 2px solid rgb(172, 168, 168);
}
