        body{
            font-family:'Montserrat', sans-serif;
            margin: 0;
            height: 100vh;
            display: flex;
            align-items: center;
            background-color: #FAF9F6;
        }

        .caixa-login{
            background-color: #FFFFFF;
            width: 400px;
            height: 450px;
            position: absolute;
            left: 10%;
            border-radius: 20px;
            box-shadow: 3px 6px 6px 0px rgba(0, 0, 0, 0.2);
            padding: 25px;
        }

        h1{
          text-align: center;
          margin-bottom: 35px;
        }

        .campo{
          margin-bottom: 0px;
        }

        p{
          margin-bottom: 5px;
        }
        
        .campo input{
          width: 95%;
          height: 40px;
          border: 1px solid #CCCCCC;
          border-radius: 8px;
          padding: 10px;
          font-family: 'Montserrat', sans-serif;
          margin:0px;
          border:none;
          outline:none;
          background-color:#faf9f5;
          box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
        }

        .campo p{
          display: block;
          margin-bottom: 8px;
        }

        .lembrar{
          margin-bottom:80px;

        }

        .lembrar input{
          border: #CCCCCC;
        }

        .entrar{
          width: 95%;
          height: 45px;
          border: none;
          border-radius: 30px;
          background-color: #85BBEA;
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;
          cursor: pointer;
          text-align:center;
          line-height: 45px;
          color:#FFFFFF;
          transition:0.2s;
          user-select: none;
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);   
        }
        .entrar:active{
            transform:translateX(3px);
            box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
        }
        

        .caixa-login-a {
        display: block;
        text-align: center;
        margin-top: 20px;
        cursor: pointer;
        color: #333;
        text-decoration: underline;
        }
        .caixa-login-a:active {
        color:#536680;            
        }
